body {
    display: flex;
    justify-content: center;
    background-color: rgba(219, 215, 215, 0.555);
    .title {
        text-align: center;
    }
    .form_container {
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        width: 700px;
        .form {
            display: flex;
            margin-bottom: 16px;
            .input {
                width: 100%;
                padding: 8px 16px 8px 16px;
                border: none;
                &:focus {
                    outline: none;
                    border: 2px solid blue;
                }
            }
            .button {
                background-color: blue;
                color: white;
                border: none;
                padding: 8px 16px 8px 16px;
                cursor: pointer;
            }
        }
    .list {
        padding: 0;
        .todo {
            border-bottom: 1px solid gray;
            display: flex;
            justify-content: space-between;
            padding: 7px 0;
            .todo_buttons button {
                background-color: white;
                border: none;
            }
            .todo_buttons_edit{
                color: blue;
            }
            .todo_buttons_delete{
                color: red;
            }
        }
    }
    }
    }
.completed{
    text-decoration: line-through;
}